

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}

body {
    background-image: url(images/earthimage.avif);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
    

/* header design */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

/* navbar design */

.navbar {
    display: flex;
    

}

.navbar a {
    margin-right: 40px;
    position: relative;
    color: white;
    text-decoration: none;

}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

/* search bar design */

.search-bar {
    width: 250px;
    height: 35px;
    border: solid 2px transparent;
    border-radius: 6px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: large;
    color: white;
    outline: none;
    border: rgba(255, 255, 255, 0.15) 2px solid;
}

.search-bar button {
    width: 40px;
    height: 100%;
    border: rgba(255, 255, 255, 0.15) 2px solid;
    outline: none;

    background-color: transparent;
    backdrop-filter: blur(10px);

    background-image: url(images/searchingicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;

}

/* general log in div design */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    backdrop-filter: blur(10px);
   
    border-radius: 10px;
}

/*  log in div and input design */
.login {
    margin-bottom: 17px;

}

.login input {
    width: 100%;;
    height: 35px;
    font-size: large;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    
}


/* password input and div design */

.password {
    margin-bottom: 10px;
}

.password input {
    width: 100%;
    height: 35px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: large;
    border-bottom: 2px solid white;

}

/* Remember and forget design */
.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.remember-forget a {
    color: white;
    position: relative;
    text-decoration: none;
}

.remember-forget a::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: -1px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}
.remember-forget a:hover::after {
    transform: scaleX(1);
}


/* remember me checkbox design */
.checkbox  {
    color: white;
}

.button {
    width: 100%;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    width: 100%;
    height: 100%;
    border-color: rgba(0, 0, 0, 0.5);
    background: rgb(255, 255, 255);
    border: 2px solid transparent;
    outline: none;
   font-size: large;
}

.button :hover {
    background: rgb(255, 255, 255, 0.15);
    cursor: pointer;
    color: #fff;
    border-color: #fff;
}




.register-link{
    margin-top: 15px;
}

.register-link p {
    color: white;
    font-size: medium;
}


.register-link a {
    color: white;
    position: relative;
    left: 84px;
}








